x-common-config: &common-config
  image: debian:stable-slim
  volumes:
    - ./libs:/libs
  build:
    dockerfile: ./Dockerfile

services:
  master:
    container_name: haddop1_master
    hostname: haddop1
    networks:
      hadoop-network:
        ipv4_address: 172.20.0.10
    ports:
      - "9870:9870"
      - "8020:8020"
    image: debian:stable-slim
    volumes:
      - ./libs/hadoop:/usr/local/hadoop
      - ./libs:/libs:ro
    command: sleep infinity

  slave1:
    <<: *common-config
    container_name: haddop2_slave1
    hostname: haddop2
    networks:
      hadoop-network:
        ipv4_address: 172.20.0.11
    

  # slave2:
  #   <<: *common-config
  #   container_name: haddop3_slave2
  #   hostname: haddop3
  #   networks:
  #     hadoop-network:
  #       ipv4_address: 172.20.0.12

networks:
  hadoop-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1
